## Scenario 2: IGP Routing — MX204-2
set system host-name mx204-2
set interfaces et-0/0/0 unit 0 family inet6 address {{ addresses.mx204_2.p2p_ocnos }}
set interfaces lo0 unit 0 family inet6 address {{ addresses.mx204_2.loopback }}
set protocols ospf3 area 0.0.0.0 interface et-0/0/0.0
set protocols ospf3 area 0.0.0.0 interface lo0.0 passive
set protocols ospf3 area 0.0.0.0 interface et-0/0/0.0 bfd-liveness-detection minimum-interval 150
set protocols ospf3 area 0.0.0.0 interface et-0/0/0.0 bfd-liveness-detection multiplier 3
set protocols isis interface et-0/0/0.0 level 2
set protocols isis interface lo0.0 passive level 2
set protocols isis interface et-0/0/0.0 bfd-liveness-detection minimum-interval 150
set protocols isis interface et-0/0/0.0 bfd-liveness-detection multiplier 3
set protocols ripng group RIP neighbor et-0/0/0.0
set routing-options maximum-paths 3
set policy-options policy-statement LOAD-BALANCE then load-balance per-flow
set routing-options forwarding-table export LOAD-BALANCE
